{
	"type": "SUBSCRIBER",
	"properties": [{
			"name": "bootstrap.servers",
			"value": "$bootstrapServers"
		}, {
			"name": "group.id",
			"value": "ConsumerGrpBitTest_$topicName"
		}, {
			"name": "auto.offset.reset",
			"value": "earliest"
		}, {
			"name": "enable.auto.commit",
			"value": "true"
		}, {
			"name": "session.timeout.ms",
			"value": "15000"
		}, {
			"name": "auto.commit.interval.ms",
			"value": "1000"
		}, {
			"name": "partition_count",
			"value": "1"
		}
	],
	"destinations": [{
			"name": "$topicName",
			"properties": [{
					"name": "key.deserializer",
					"value": "org.apache.kafka.common.serialization.StringDeserializer"
				}, {
					"name": "value.deserializer",
					"value": "org.apache.kafka.common.serialization.StringDeserializer"
				}
			]
		}
	]
}
